[submodule "Software/osr-rover-code-fonte"]
	path = Software/osr-rover-code-fonte
	url = https://github.com/FernandoBichuette/osr-rover-code.git
[submodule "Projeto_Original"]
	path = Projeto_Original
	url = https://github.com/FernandoBichuette/Projeto_Original.git
